{% extends 'base.html.twig' %}

{% block title %}Contact pagina {% endblock %}

{% block body %}
<h1>Contact Pagina</h1>

    {#{{ form_start(contactform) }}#}
    {#{{ form_widget(contactform) }}#}
    {#{{ form_end(contactform) }}#}

{% endblock %}
