{% extends 'base.html.twig' %}

{% block title %} {{ 'Edit page' }} {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <a href="/public/index.php/management">Go Back</a>
{% endblock %}