{% extends 'base.html.twig' %}

{% block title %}Management panel{% endblock %}

{% block body %}
    <h1>Management panel</h1>

    <table id="pages" class="table table-striped">
        <thead>
        <tr>
            <th>Page title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>
                    <a href="/public/index.php/page/{{ page.id }}" class="btn btn-dark">Show</a>
                    <a href="/public/index.php/edit/{{ page.id }}" class="btn btn-light edit-page" data-id="{{ page.id }}">Edit</a>
                    <a href="/public/index.php/delete/{{ page.id }}" class="btn btn-danger delete-page" data-id="{{ page.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="http://localhost/public/index.php/page/new" class="btn btn-light">Add a page</a>
    <a href="http://localhost/public/index.php/logout" class="btn btn-danger">Log out</a>
{% endblock %}

{% block javascripts %}
    <script src="/public/js/main.js"></script>
{% endblock %}