{% extends 'base.html.twig' %}

{% block title %} {{ 'New page' }} {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <a href="/public/index.php">Go Back</a>
{% endblock %}