{% extends 'base.html.twig' %}


{% block title %} {{ page.title | default("Title")}} {% endblock %}


{% block body %}

    <h1>{{ page.title  | default("Title")}}</h1>

    {% if page.bannerImgUrl %}
    <p><img src="{{ page.bannerImgUrl |default('http://meetmeatthebarn.com/wp-content/uploads/2018/06/nature.jpg')}}" width="100%" height="300px"></p>
    {% endif %}

    <p>{{ page.textarea | default("") }}</p>

    {% if page.contentImageUrl %}
    <p><img src="{{ page.contentImageUrl |default('http://meetmeatthebarn.com/wp-content/uploads/2018/06/nature.jpg') }}" width="100%" height="300px"></p>
        {#Deze vervangen door een gallery? Leerzame uitdaging voor later i guess#}
    {% endif %}

    <p>{{ page.textarea2  | default("") }}</p>
    <hr>
    <a href="/public/index.php">Go Back</a>
{% endblock %}