<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/public/" class="navbar-brand">CMS Demo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">

                {#twig extension maak een service voor twig met wat logica om in twig een functie aan te roepen.#}

                {% for page in showMenu() %}
                    <li class="nav-item">
                        {# als uit  showMenu() toch een array uit komt met 2 waardes kan ik die gewoon pakken#}
                        <a href="/public/index.php/page/{{ page.id }}" class="nav-link">{{ page.title }}</a>
                    </li>
                {% endfor %}

                {% if is_granted("ROLE_USER") %}
                <li class="nav-item">
                    <a href="/public/index.php/management" class="nav-link">Management</a>
                </li>
                {% endif %}
                {% if is_granted("ROLE_USER") == false %}
                <li class="nav-item">
                    <a href="/public/index.php/login" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>